*.~*~

crcl/schemas/*.lex
crcl/schemas/*.y
crcl/schemas/*.cc
crcl/schemas/*.hh

crcl/CMakeCache.txt
crcl/CMakeFiles/
crcl/CTestTestfile.cmake
crcl/Makefile
crcl/catkin/
crcl/catkin_generated/
crcl/cmake_install.cmake
crcl/devel/
crcl/gtest/

xml_parser_generator/CMakeCache.txt
xml_parser_generator/CMakeFiles/
xml_parser_generator/CTestTestfile.cmake
xml_parser_generator/Makefile
xml_parser_generator/catkin/
xml_parser_generator/catkin_generated/
xml_parser_generator/cmake_install.cmake
xml_parser_generator/devel/
xml_parser_generator/gtest/
