*.~*~

crcl/schemas/*.lex
crcl/schemas/*.y
crcl/schemas/*.cc
crcl/schemas/*.hh

crcl/CMakeCache.txt
crcl/CMakeFiles/
crcl/CTestTestfile.cmake
crcl/Makefile
crcl/catkin/
crcl/catkin_generated/
crcl/cmake_install.cmake
crcl/devel/
crcl/gtest/

xml_common/CMakeCache.txt
xml_common/CMakeFiles/
xml_common/CTestTestfile.cmake
xml_common/Makefile
xml_common/catkin/
xml_common/catkin_generated/
xml_common/cmake_install.cmake
xml_common/devel/
xml_common/gtest/
